// .............................
//    HELPERS
// .............................

.clear {
    clear: both;
}

.error-border {
    border-color: $red-dark !important;
}

.with-overlay {
    overflow-y: hidden !important;
}
