// .............................
//    VARIABLES
// .............................

// 1. COLOURS
// 2. FONT SIZES


// 1. COLOURS

$gray: #bbb;
$gray-dark: #666;

$red-lighter: #f2dede;
$red-light: #ebccd1;
$red-dark: #ff2121;
$red-darker: #a94442;

// 2. FONT SIZES

$font-size-base: 14px;
$font-size-md: 17px;
